

 .kanban-board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: solid 1px rgb(249, 13, 13);
  justify-content: flex-start;
  padding: 10px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.tasks {
  border: solid 2px rgb(233, 176, 176);
  border-radius: 10px;
  width: calc(20% - 10px);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(1, 0, 0, 0.5); 

} 

